@import "../../styles/lib/variables";

.outer-padding {
    margin: 0 16px;

    @media screen and (min-width: 480px) {
        margin: 0 32px;
    }
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}
